amqp==1.4.9
anyjson==0.3.3
beautifulsoup4==4.4.1
billiard==3.3.0.23
celery==3.1.23
dj-database-url==0.4.0
Django==1.9.2
kombu==3.0.35
Pillow==3.2.0
pytz==2016.4
requests==2.9.1
uWSGI==2.0.13.1
whitenoise==2.0.6
psycopg2==2.6.1
