{% extends "base.html" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<section id="services" class="services-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>&nbsp;Forgot Password</h1>
                {% if donotexist %}
                    <div class="col-sm-10 alert alert-warning">
	                    <p>No account found with this email.</p>
	                </div>
                {% endif %}
                {% if not_in_database %}
                    <div class="col-sm-10 alert alert-warning">
	                    <p>Email is not in our database.</p>
	                </div>
                {% endif %}
                <form method="post" action="{% url 'forgot' %}">
                {% csrf_token %}    
                    {% for field in form %}
                        <div class="form-group">
                            <div class="col-md-4">
                                {{ field.label }}:
                            </div>
                            <div class="col-md-8">
                                {{ field }}
                                <p class="help-block"></p>
                            </div>
                        </div>
                        {% if field.errors %}
                            <div class="col-sm-10 alert alert-warning">
	                            {{ field.errors }}
	                        </div>
                        {% endif %}
                    {% endfor %}
		            <div class="col-md-10 control-group">
                        <div class="controls">
                            <input type="submit" value="Send Change Password Mail" class="btn btn-success">
                        </div>
                    </div>
                </form>  
            </div>
        </div>
    </div>
</section>
{% endblock %}
